<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submission Tugas Modul 3</title>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <a href="#card-list" class="skip-link">Skip to content</a>
  <header class="header">
    <div class="header__inner">
      <img src="../images/logo.png" alt="logo">
    </div>
    <button id="menu" class="hamburger">☰</button>
  </header>
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="index.html">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="#footer">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Let's Eat Here</h1>
      <p class="hero__tagline">Restaurant Bintang 5 Diakuai Oleh Gordon Ramsay Dimana Rasa dan Kenikmatan
        Bisa Dicoba Langsung
      </p>
    </div>
  </div>
  </nav>
  <br></br>
  <main>
    <div class="restaurant">
      <h1 id="restaurant-label">Explore Restaurant</h1>
      <div id="card-list" class="card-list"></div>
    </div>
  </main>
  <footer class="footer" id="footer">
    <p class="footer__title">Hubungi</p>
    <div class="footer__social">
      <a href="https://www.instagram.com/dpa_12/?hl=id" class="footer__icon"><i class='bx bxl-instagram'></i></a>
      <a href="https://www.facebook.com/dianputra.anugerahnu/" class="footer__icon"><i class='bx bxl-facebook'></i></a>
      <a href="https://www.linkedin.com/in/dian-putra-anugrahnu-85bb491a6/" class="footer__icon"><i
          class='bx bxl-linkedin'></i></a>
      <a href="https://github.com/usersstfu" class="footer__icon"><i class='bx bxl-github'></i></a>
    </div>
    <p class="footer__copy">&#169; Dian Putra Anugrahnu</p>
  </footer>
</body>

</html>